<div class="mask bg rgba-black-strong">
  <div class="container flex-center view">
    <div class="row mt-top mb-4">
      <div class="col-md-4 text-center">
        <div class="avatar mx-auto">
          <img width="280" src="assets/nathalie.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Nathalie Le Ny</h5>
      </div>
      <div class="col-md-8">
        <p>
          Après une vie professionnelle bien remplie dans le milieu associatif et après avoir traversé de gros soucis de
          santé, j'ai décidé d'aller au plus près de mes valeurs, de suivre mon "Dharma", en m'investissant totalement
          dans des missions thérapeutiques. J'aspire à mettre mon expérience au service de la "Vie".
        </p><br>
        <p>
          Thérapeute corporelle en soins ayurvédiques depuis 2018, j'ai découvert l'Ayurveda avec passion. Je me
          suis tout de suite sentie appelée par cette médecine holistique qui prend en considération l'humain dans son
          ensemble physique, émotionnel et psychique.
        </p><br>
        <p>
          Une nouvelle vie s'est alors offerte à moi : l'Ayurveda, ses massages et sa philosophie. J'ai choisi
          l'enseignement de "L'Institut Vaidya Atreya Smith" créée en 1998 après en avoir expérimenté les bienfaits sur
          moi-même. Cette formation a été une révélation pour moi : j'ai donc décidé d'ouvrir mon cabinet : "Dharma, un
          chemin vers soi".
        </p><br>
        <p class="font-weight-bold text-justify">
          Ma formation détaillée :
        </p><br>
        <p class="text-justify">
          <span>2017 - 2018 :</span> Formation massage ayurvédique méthode Vaidya Atreya Smith*<br>
          <span>2019 :</span> Formation Dynacharia<br>
          <span>2019 :</span> Formation massage femme enceinte/bébé méthode Vaidya Atreya Smith*<br>
          <span>2019 - 2020 :</span> Formation praticienne en Hygiène de vie et nutrition<br>
          <span>2020 - 2021 :</span> Formation praticienne en médecine Ayurvédique<br>
        </p><br>
        <hr>
        <p>
          *Cette méthodologie a été développée par Vaidya Atreya Smith après une vingtaine d’années de travail clinique
          en Inde et en Europe. Elle intègre des aspects subtils qui en font une thérapie efficace.
        </p>
      </div>
    </div>
  </div>
</div>