<div class="mask bg rgba-black-strong">
  <div class="container flex-center view">
    <div class="row">
      <div class="">
        <h2 class="text-center mb-4">LES MASSAGES</h2>
        <td class="font-weight-bold titre-massage">
          Atreya Abhyanga
        </td>
        <br>
        <p>
          Permet une profonde détente et harmonise les trois doshas.
        </p><br>
        <p>
          Il calme le système nerveux, ôte le stress, l'anxiété et l'angoisse. Il améliore la concentration et la
          confiance en soi. Il est drainant, élimine les toxines, stimule la circulation sanguine et lymphatique,
          fortifie le système immunitaire, ralentissant ainsi le vieillissement. Il améliore la digestion et
          l'élimination. Il augmente la force, la souplesse et la mobilité du corps. Il permet de libérer les tensions
          et émotions réprimées... Il calme le corps, l'esprit et le cœur.
        </p>
        <td class="font-weight-bold pt-3">
          Tarif :
        </td>
        <p>Adulte 1H : 65 €</p>
        <p>Enfant 8-12 ans 30 min : 35 €</p>
        <p>Enfant 12-15 ans 50 mn : 50 €</p>
        <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image">

        <td class="font-weight-bold titre-massage pt-3">
          Atreya Abhyanga
        </td>
        <br>
        <p>
          Permet une profonde détente et harmonise les trois doshas.
        </p><br>
        <p>
          Il calme le système nerveux, ôte le stress, l'anxiété et l'angoisse. Il améliore la concentration et la
          confiance en soi. Il est drainant, élimine les toxines, stimule la circulation sanguine et lymphatique,
          fortifie le système immunitaire, ralentissant ainsi le vieillissement. Il améliore la digestion et
          l'élimination. Il augmente la force, la souplesse et la mobilité du corps. Il permet de libérer les tensions
          et émotions réprimées... Il calme le corps, l'esprit et le cœur.
        </p><br>
        <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image">
        <td class="font-weight-bold titre-massage pt-3">
          Atreya Abhyanga
        </td>
        <br>
        <p>
          Permet une profonde détente et harmonise les trois doshas.
        </p><br>
        <p>
          Il calme le système nerveux, ôte le stress, l'anxiété et l'angoisse. Il améliore la concentration et la
          confiance en soi. Il est drainant, élimine les toxines, stimule la circulation sanguine et lymphatique,
          fortifie le système immunitaire, ralentissant ainsi le vieillissement. Il améliore la digestion et
          l'élimination. Il augmente la force, la souplesse et la mobilité du corps. Il permet de libérer les tensions
          et émotions réprimées... Il calme le corps, l'esprit et le cœur.
        </p><br>
        <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image">
        <td class="font-weight-bold titre-massage pt-3">
          Atreya Abhyanga
        </td>
        <br>
        <p>
          Permet une profonde détente et harmonise les trois doshas.
        </p><br>
        <p>
          Il calme le système nerveux, ôte le stress, l'anxiété et l'angoisse. Il améliore la concentration et la
          confiance en soi. Il est drainant, élimine les toxines, stimule la circulation sanguine et lymphatique,
          fortifie le système immunitaire, ralentissant ainsi le vieillissement. Il améliore la digestion et
          l'élimination. Il augmente la force, la souplesse et la mobilité du corps. Il permet de libérer les tensions
          et émotions réprimées... Il calme le corps, l'esprit et le cœur.
        </p><br>
        <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">

  <a mdbBtn floating="true" size="lg" color="red" class="waves-light" id="fixed-button" mdbWavesEffect
     (click)="fixed.toggle()">
    <mdb-icon fas icon="ellipsis-v"></mdb-icon>
  </a>

  <div class="fixed_collapse" mdbCollapse="isCollapsed" #fixed="bs-collapse">
    <a mdbBtn floating="true" color="red" class="waves-light" mdbWavesEffect>
      <mdb-icon fas icon="star" (click)="fixed.toggle()"></mdb-icon>
    </a>
    <a mdbBtn floating="true" color="yellow" class="darken-1 waves-light" mdbWavesEffect>
      <mdb-icon fasa icon="user"></mdb-icon>
    </a>
    <a mdbBtn floating="true" color="green" class="waves-light" mdbWavesEffect>
      <mdb-icon fas icon="envelope"></mdb-icon>
    </a>
    <a mdbBtn floating="true" color="blue" class="waves-light" mdbWavesEffect>
      <mdb-icon fas icon="shopping-cart"></mdb-icon>
    </a>
  </div>

</div>
