<div class="container flex-center view mt-top">
  <!-- Grid row -->
  <div class="row d-flex text-justify justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">
      <!-- Title -->

      <h4 class="text-center text-blue-2 font-weight-bold">« Qui paye le masseur économise le docteur »<h5>Proverbe
          tamil</h5>
      </h4>
      <br>

      <p class="card-text wow fadeInLeft">
        Le massage tient une grande place dans la médecine ayurvédique et est pratiqué dès la naissance.
        C’est un véritable outil thérapeutique qui participe à garder un état de santé en équilibre.
      </p>
      <p class="card-text wow fadeInLeft">
        Depuis plus de vingt ans, de nombreuses études prouvent un véritable intérêt dans le massage. En 1996, par
        exemple, un groupe de chercheurs a mesuré qu'un massage de quinze minutes augmentait l'activité et l'état
        d'alerte du cerveau. Mais ce n'est pas tout : les massages réduisent de manière significative et durable le taux
        de cortisol, l’hormone du stress, et améliorent la qualité du sommeil , en particulier le sommeil profond des
        nourrissons jusqu'aux personnes âgées. On a également observé une baisse de l'hormone liée à
        l'agressivité, ainsi que des effets positifs sur notre système immunitaire.
      </p>
      <p class="card-text wow fadeInLeft">
        Les huiles que j’utilise sont toutes à base de plantes et sont certifiées biolologiques. Elles sont fabriquées
        selon les méthodes ancestrales. L’huile appliquée durant les massages est toujours chauffée au préalable afin
        qu’elle puisse pénétrer les tissus en profondeurs et bien nourrir toutes les articulations.
      </p>
      <p class="card-text wow fadeInLeft">
        Le massage stimule les flux et points énergétiques, il permet la libération des blocages, revitalise le corps et
        rétablit la circulation de l’énergie vitale (le prana).
      </p>
      <p class="card-text wow fadeInLeft">
        La méthode que j’ai apprise est la méthode Atreya Abhyanga à l’école EIVS Européan Institute of Védic Studies
        auprès de Marie Angèle Bonato et Gayatri Linda Bengaouer. Elle emploie les thérapies du souffle traditionnel
        alliées à des exercices pour concentrer l’attention car le
        toucher thérapeutique psychocorporel requiert un engagement de concentration de la part du thérapeute.
      </p>
      <p class="card-text wow fadeInLeft">
        Tout massage est précédé d’un questionnaire visant à définir le massage et l’huile les plus appropriés en
        fonction de votre constitution, des déséquilibres éventuels, de votre âge ainsi que du cycle des saisons.
        La durée du massage peut être variable en fonction des besoins déterminés lors du bilan thérapeutique.
      </p>
      <p class="card-text wow fadeInLeft font-weight-bold">
        La durée du massage peut être variable en fonction des besoins déterminés lors du bilan thérapeutique.
      </p>
      <p class="card-text wow fadeInLeft font-weight-bold">
        Les bienfaits du massage s’installent sur le long terme lorsque l’on se fait masser régulièrement, une à deux
        fois par mois.
      </p>
      <p class="card-text wow fadeInLeft">
        Chaque accompagnement se fait de façon individualisée selon les principes de l’Ayurveda car nous sommes tous
        uniques et avons tous des besoins différents.
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</div>


<div class="container flex-center">
  <div class="row mb-3">
    <div class="">

      <h2 class="text-center mb-4 font-weight-bold one-line" id="msg1">LISTE DES MASSAGES</h2>
      <td class="font-weight-bold titre-massage">
        Atreya Abhyanga
      </td>
      <br>
      <p>
        Permet une profonde détente et harmonise les trois doshas.
      </p><br>
      <p>
        Il calme le système nerveux, ôte le stress, l'anxiété et l'angoisse. Il améliore la concentration et la
        confiance en soi. Il est drainant, élimine les toxines, stimule la circulation sanguine et lymphatique,
        fortifie le système immunitaire, ralentissant ainsi le vieillissement. Il améliore la digestion et
        l'élimination. Il augmente la force, la souplesse et la mobilité du corps. Il permet de libérer les tensions
        et émotions réprimées... Il calme le corps, l'esprit et le cœur.
      </p>
      <td class="font-weight-bold pt-3">
        Tarif :
      </td>
      <p>Adulte 1H : 65 €</p>
      <p>Enfant 8-12 ans 30min : 35 €</p>
      <p>Enfant 12-15 ans 50mn : 50 €</p>
      <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image" id="msg2">

      <!--massage 2 -->
      <td class="font-weight-bold titre-massage">
        Snehana Svedana
      </td>
      <br>
      <p>
        Snehana qui signifie beaucoup d'huile et Svedana qui veut dire transpiration est une méthode utilisant les
        plaques de boue chaudes qui vient en complément de l'Abhyanga. Cela est particulièrement recommandé pour les
        personnes souffrant de problèmes de dos, excès de Vata, arthrose, arthrite, polyarthrite, hernie, sciatique,
        burn out, dépression, tensions...
      </p>
      <td class="font-weight-bold pt-3">
        Tarif :
      </td>
      <p>1H30 : 80 €</p>
      <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image" id="msg3">

      <!--massage 3 -->
      <td class="font-weight-bold titre-massage">
        Ananda
      </td>
      <br>
      <p>
        Massage subtil de la colonne vertébrale. Il favorise la libre circulation du système énergétique et nerveux. Il
        aide à libérer les tensions et a une action réflexe sur les organes correspondants puisque chaque vertèbre est
        reliée à un organe.
      </p>
      <td class="font-weight-bold pt-3">
        Tarif :
      </td>
      <p>30min : 35 €</p>
      <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image" id="msg4">

      <!--massage 4 -->
      <td class="font-weight-bold titre-massage">
        Ananda Abhyanga
      </td>
      <br>
      <p>
        Le souffle énergétique. Méthode de pranathérapie sur l’ensemble de la colonne vertébrale utilisant le souffle
        vital (prana) en complément de l’Abhyanga. Permet une détende profonde et libère les tensions en douceur.
      </p>
      <td class="font-weight-bold pt-3">
        Tarif :
      </td>
      <p>1H15 : 80 €</p>
      <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image" id="msg5">

      <!--massage 5 -->
      <td class="font-weight-bold titre-massage">
        Udvartana Udgarshana
      </td>
      <br>
      <p>
        C'est un massage gommage détoxifiant doux ou/et tonique utilisant la farine de pois chiche. Il participe à
        l'élimination de l'humidité et des congestions liées aux toxines. Il permet de stimuler la microcirculation,
        il casse les cellules graisseuses et favorise ainsi la perte de poids. Il dynamise et éclaircit le mental.
      </p>
      <td class="font-weight-bold pt-3">
        Tarif :
      </td>
      <p>1H : 70 €</p>
      <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image" id="msg6">

      <!--massage 6 -->
      <td class="font-weight-bold titre-massage">
        Massage étoile
      </td>
      <br>
      <p>
        Massage du dos, de la tête, des mains et des pieds
        Il comprend des mouvements doux, enveloppants, modérés, nourrissants, équilibrants et harmonisants.
        Il calme le mental, apaise les émotions telles que la nervosité et l'anxiété.
      </p>
      <td class="font-weight-bold pt-3">
        Tarif :
      </td>
      <p>40min : 45 €</p>
      <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image" id="msg7">

      <!--massage 7 -->
      <td class="font-weight-bold titre-massage">
        Upanaha sweda
      </td>
      <br>
      <p>
        Soin spécifique du dos. Dénoue les nœuds et tensions en profondeur et permet une circulation plus fluide de
        l’énergie dans le corps. </p>
      <td class="font-weight-bold pt-3">
        Tarif :
      </td>
      <p>30min : 35 €</p>
      <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image" id="msg8">

      <!--massage 8 -->
      <td class="font-weight-bold titre-massage">
        Massage Kobido
      </td>
      <br>
      <p class="font-weight-bold">
        Véritable mise en beauté permettant de lifter les traits et tonifier la peau en profondeur, le Kobido est très
        prisé pour son efficacité sur l’aspect et la jeunesse du visage ! </p>
      <br>
      <p>
        C’est un massage traditionnel qui a vu le jour au Japon il y a près de six siècles. Il cultive et pérennise une
        gestuelle ancestrale, transmise siècle après siècle et s’inspire de plusieurs massages, comme le Shiatsu ou le
        drainage lymphatique. La technique du Kobido repose sur des gestes complexes, exécutés au niveau des méridiens
        ou points d’acupression. Chaque méridien du visage est lié à un organe spécifique. Leur stimulation permet
        d’opérer un profond rééquilibrage de l’énergie, à l’origine de l’éclat et de la santé de la peau. </p>
      <br>
      <p>
        Il agit sur la fermeté des tissus cutanés en favorisant la production de collagène, une substance essentielle à
        la beauté de la peau et en sollicitant tous les muscles du visage. Il agit également sur la circulation sanguine
        et favorise l’afflux sanguin au niveau de certaines zones. L’effet relaxant permet quant à lui de détendre les
        traits et de gommer les marques de fatigue : cernes, poches et ridules. </p>
      <p>
        C’est un massage bien-être très complet, qui répond aux préoccupations beauté des femmes et des hommes tels que
        les rides et signes de fatigue ainsi que l’affaissement de la peau. </p>
      <td class="font-weight-bold pt-3">
        Tarif :
      </td>
      <p>1H : 65 €</p>
      <p>Forfait de 5 séances : 310 €</p>
      <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image" id="msg9">

      <!--massage 9 -->
      <td class="font-weight-bold titre-massage">
        Massage complet du corps « Atreya Abhyanga »
      </td>
      <br>
      <p class="font-weight-bold">
        Permet une profonde détente et harmonise les trois doshas. </p>
      <br>
      <p>
        Il calme le système nerveux, ôte le stress, l'anxiété et l'angoisse. Il améliore la concentration et la
        confiance en soi. Il est drainant, élimine les toxines, stimule la circulation sanguine et lymphatique, fortifie
        le système immunitaire, ralentissant ainsi le vieillissement. Il améliore la digestion et l'élimination. Il
        augmente la force, la souplesse et la mobilité du corps. Il permet de libérer les tensions et émotions
        réprimées... Il calme le corps, l'esprit et le cœur. </p>
      <td class="font-weight-bold pt-3">
        Tarif :
      </td>
      <p>Adulte : 30mn : 40 €</p>
      <p>Adulte : 1H : 65 €</p>
      <p>Adulte : 1H30 90 € </p>
      <p>Enfant 8-12 ans 30min : 35 €</p>
      <p>Enfant 12-15 ans 50mn : 50 €</p>
      <br>
      <p class="font-weight-bold">*Option : plaque de boue thermale chaude </p>
      <p>Cela est particulièrement recommandé pour les personnes souffrant de problèmes de dos, excès de Vata, arthrose,
        arthrite, polyarthrite, hernie, sciatique, burn out, dépression, tensions, surpoids...
      </p>
      <p>+ 15mn environ</p>
      <p>Tarif : 15 €</p>

    </div>
  </div>
</div>