<div class="mask bg rgba-black-strong mt-top">
  <div class="container flex-center view">
    <div class="row">
      <div class="">
        <h2 class="text-center mb-4" id="soin1">LES SOINS MATERNITÉ</h2>
        <td class="font-weight-bold titre-soin">
          Abhyanga prénatal
        </td>
        <br>
        <p>
          Remède idéal contre les maux de la grossesse, ce massage est un véritable soutien psychologique et physique.
        </p><br>
        <p>
          Ce massage se compose principalement de mouvements doux et enveloppants permettant une relaxation profonde. Le
          bien-être de la maman influe sur celui du bébé. Il prévient les déséquilibres pendant la grossesse tel que
          l’insomnie, l’hyper-émotivité, les maux de dos, les jambes lourdes…
        </p><br>
        <p>
          Il peut être reçu dès le 4ème mois et idéalement chaque mois, jusqu’au terme.
        </p>
        <td class="font-weight-bold pt-3">
          Tarif :
        </td>
        <p>1H : 65 €</p>
        <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image" id="soin2">

        <!--massage 2 -->
        <td class="font-weight-bold titre-soin">
          Abhyanga post-partum
        </td>
        <br>
        <p>
          Idéal pour prendre soin de son corps après l’accouchement et permettre un rétablissement rapide, il favorise
          également la convalescence en cas de césarienne.
        </p><br>
        <p>
          Ce massage est conseillé dès que possible après l’accouchement et environ un mois après une césarienne le
          temps de la cicatrisation.
          C’est un soin harmonisant qui permet de rétablir l’équilibre énergétique de la maman. Il détend le corps en
          douceur et aide les organes à reprendre doucement leur place. Il soulage les tensions, favorise la lactation,
          et évite le baby blues.
        </p>
        <td class="font-weight-bold pt-3">
          Tarif :
        </td>
        <p>1H : 65 €</p>
        <img src="assets/Untitled-1.svg" class="img-fluid" alt="Responsive image" id="soin3">

        <!--massage 3 -->
        <td class="font-weight-bold titre-soin">
          Soin du nourrisson
        </td>
        <br>
        <p>
          Partager un moment de bien être seule ou en famille en apprenant comment masser votre bébé.
        </p><br>
        <p>
          Le massage des bébés est une longue tradition en Inde.
          Un Abhyanga pratiqué de façon quotidienne au bébé va lui permettre de développer motricité et coordination.
          C’est un toucher apaisant, enveloppant et rassurant favorisant une croissance harmonieuse.
        </p><br>
        <p>
          L’Abhyanga stimule le système circulatoire et digestif du bébé, renforce le système immunitaire et nerveux.
          Ce soin est recommandé dès un mois et jusqu’à 3 ans. Il vous est proposé sous forme d’atelier afin de vous
          accompagner et vous rendre autonome dans la pratique. L’idéal étant de le pratiquer pendant la grossesse sur
          un poupon afin d’être mieux préparée à l’arrivée du bébé.
        </p>
        <td class="font-weight-bold pt-3">
          Tarif :
        </td>
        <p>45min : 50 €</p>
        <p>2 x 45min : 90 €</p>
        <td class="font-weight-bold pt-3">
          Tarif à domicile :
        </td>
        <p>45min : 70 €</p>
        <p>2 x 45min : 120 €</p>
      </div>
    </div>
  </div>
</div>
