<div class="mask bg rgba-black-strong mt-top">
  <div class="container flex-center view">
    <div class="row">
      <div class="">
        <h2 class="text-center mb-4">PRATICIENNE EN HYGIÈNE DE VIE ET NUTRITION</h2>
        <br>
        <h4 class="text-center text-blue-2 font-weight-bold citation">« Quand un régime est mauvais, les médicaments
          sont
          inutiles. Quant un régime est correct, les médicaments ne

          sont pas nécessaires »<h5>Proverbe ayurvédique</h5>
        </h4>
        <br>
        <p class="mb-1">
          Vous souffrez de ballonnement, d’acidité, de constipation, de fatigue, de stress, d’insomnie, vous faites des
          régimes à répétition sans succès,… Vous souhaitez connaître votre constitution natale et adopter une hygiène
          de vie ainsi que recevoir des conseils en nutrition individualisés.
        </p>
        <p class="mb-1">
          Je me propose de vous accompagner selon les principes de l’Ayurveda :
        </p>
        <p class="ml-4 mb-1">
          • La première consultation permettra d’établir un bilan ayurvédique afin de déterminer votre prakriti
          (constitution de naissance) et votre vikriti (éventuels déséquilibres).
        </p>
        <p class="ml-4 mb-1">
          • Le diagnostic ayurvédique est basé sur l’observation, le toucher et l’interrogation. Celui-ci déterminera
          quel(s) dosha(s) (quelles énergies sont présentes dans le corps et l’esprit) est en excès et/ou cause
          problème. Rappelez-vous que les doshas sont responsables de tous les processus physiologiques et
          psychologiques du corps et de l'esprit.
        </p>
        <p class="ml-4 mb-1">
          • Le rôle du praticien en Ayurveda est de vous aider à comprendre votre métabolisme afin que vous puissiez
          adopter les changements nécessaires pour le soutenir et ainsi préserver votre santé : diminuer, soulager ou
          éliminer les éventuels symptômes. En identifiant le ou les doshas responsables des symptômes et en les
          corrigeant avec un régime alimentaire adapté (des plantes médicinales, des épices et une bonne hygiène de
          vie), l’organisme commencera à se rééquilibrer.
        </p>
        <p class="ml-4 mb-1">
          • Nous mettrons alors en place un programme thérapeutique et travaillerons ensemble pour remplacer
          progressivement les habitudes qui fragilisent votre santé par une routine journalière individualisée selon les
          principes de l’Ayurvéda, impliquant l’hygiène de vie et la nutrition.
        </p><br>

        <h5 class="text-center font-weight-bold">« C’est ce que vous mangez et faites chaque jour qui
          détermine votre santé. »
        </h5>

        <td class="font-weight-bold pt-3">
          Tarif :
        </td>
        <p class="font-weight-bold ml-1">
          Consultation en hygiène de vie & nutrition :
        </p>
        <p class="ml-1">Première consultation (comprenant le bilan ayurvédique) : 1h30 : 70 €</p>
        <p class="ml-1">Séances suivantes : 60 mn : 55€</p>
      </div>
    </div>
  </div>
</div>
