@media (max-width: 991px) {
  .container {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .row {
    padding: 15px;
  }
  .mt-top {
    padding-top: 5rem;
  }
}

@media (max-height: 736px) { //iphone 6,7,8+
  .mt-top {
    padding-top: 3.5rem;
  }
}

@media (max-height: 653px) { // galaxy fold vertical
  .mt-top {
    padding-top: 6rem;
  }
}

@media (max-height: 540px) { //surface duo and galaxy fold horizontal
  .mt-top {
    padding-top: 5rem;
  }
}

@media (min-width: 991px) {
  .view {
    padding-top: 6rem;
    padding-bottom: 2%;
  }
  .row {
    border: solid 4px rgba(0, 0, 0, 1);
    background-color: rgba(235, 235, 255, 0.9);
    padding: 15px;
  }
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/background-gloabal.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #8ef0ff;
}

.citation {
  letter-spacing: 3px;
}
