<div class="mask bg rgba-black-strong mt-top">
  <div class="container flex-center view">
    <div class="row">
      <div class="">
        <h2 class="text-center mb-4">Témoignage</h2>
        <br>
        <p class="titre-tem font-weight-bold">Témoignage de Cindy</p>
        <p class="text-blue-2 font-weight-bold citation">« Ce massage m’a permis de me relâcher et de me faire
          comprendre de bien écouter mon corps et ainsi sentir toute cette énergie positive que me procure le massage,
          autant pour moi que pour mon bébé. »</p>
        <br>

        <td class="font-weight-bold pt-2">
          Sensations pendant le massage :
        </td>
        <p>"Je me sentais relaxée, j’avais cette sensation de lourdeur à certains endroits : les jambes ,
          les bras , les doigts et au fur et à mesure j’ai senti ce poids qui s’était enlevé. Et d’un coup, je me suis
          sentie légère comme une plume et moralement tellement mieux, surtout autour de la cheville cela m’a vraiment
          détendue. Je sentais mon bébé apprécier tout autant et il se mettait bien en surface pour lui aussi profiter
          du massage."</p>
        <td class="font-weight-bold pt-4">
          Le soir même :
        </td>
        <p>"Je me suis sentie, bien moralement et mentalement, toute légère, plus d'effets de jambes lourdes, plus de
          douleurs au bas du dos . J'avais l'impresion que je venais de me lever après une bonne nuit de sommeil."</p>

        <td class="font-weight-bold pt-4">
          Le lendemain :
        </td>
        <p>"Toujours bien moralement je ne me sentais pas du tout stressée et vraiment heureuse de commencer ma
          journée."</p>

        <td class="font-weight-bold pt-4">
          En conclusion :
        </td>
        <p>"Ce massage m’a permis de me relâcher et de me faire comprendre de bien écouter mon corps et ainsi sentir
          toute cette énergie positive que me procure le massage, autant pour moi que pour mon bébé."</p>

        <br>
        <p class="titre-tem font-weight-bold mt-3">Témoignage de Sophie</p>
        <p class="text-blue-2 font-weight-bold citation">« Le massage est un moment très agréable où nous pouvons nous
          laisser porter. Une détente s'empare très rapidement de nos corps. La nuit qui suit permet de dormir
          profondément et les jours qui suivent sont également très agréables. »</p>
        <br>

        <p>"Régulièrement, nous bénéficions, ma fille de 14 ans et moi-même, des séances de massage de Nathalie.
          Toujours très appréciables, nous attendons avec impatience ces moments de détente et de bien être.</p>
        <br>
        <p>Le plus, c'est le temps pris avant chaque massage, afin d'évaluer notre dosha. Ce temps de discussion où
          Nathalie évalue notre état en fonction de différents points, questions, est important, typique aussi de
          l'Ayurveda et s'intègre parfaitement.</p>
        <br>
        <p>Le massage est un moment très agréable où nous pouvons nous laisser porter. Une détente s'empare très
          rapidement de nos corps.
          Une sensation de bien-être s'ensuit et cela nous permet de décompresser rapidement.

          La nuit qui suit permet de dormir profondément et les jours qui suivent sont également très agréables.</p>
        <br>
        <p>Profondément et progressivement, les choses s'installent et évoluent dans le bon sens.

          Autant pour ma fille que pour moi, nous avons eu la grande belle surprise de constater une perte de poids très
          rapidement après notre 1ere séance.

          Nathalie nous a également donné des conseils nutritionnels et nous en profitons pour la remercier, pour tout
          ce qu'elle donne et fait, via ce témoignage."</p>

        <!-- Temoignage de Elsa -->
        <br>
        <p class="titre-tem font-weight-bold mt-3">Témoignage de Elsa : Abhyanga prénatal</p>
        <p class="text-blue-2 font-weight-bold citation">« Pour le massage, je me suis tout de suite sentie en confiance
          avec Nathalie, ce qui m'a permis de me détendre complètement. Sur le dos, je me suis même sentie m'endormir à
          plusieurs reprises »</p>
        <br>

        <p>"J'ai eu la chance de pouvoir bénéficier de plusieurs massages par Nathalie pendant la grossesse et un après
          la naissance de ma fille.
          J'ai beaucoup apprécié rencontrer Nathalie, sa gentillesse, sa bienveillance ont permis de rendre ces moments
          très agréables. Elle a toujours pris le temps pour moi, que ce soit avant ou pendant le massage. Son calme et
          sa douceur m'ont apaisé dans des moments où j'en avais besoin.
          Pour les massages, j'ai aimé être " enveloppée" d'huile, comme quelque chose qui contient, qui rassure. Les
          gestes de Nathalie étaient assurés, et à chaque fois, rapidement je me laissais aller. J'ai aimé entendre sa
          respiration jointe au mouvement. J'ai découvert certaines zones que je n'avais jamais massé comme le pli
          intérieur des articulations.
          Ça m'a également permis de prendre un temps pour moi, et pour mon bébé pendant la grossesse. Après chaque
          séance, j'étais particulièrement détendue.
          C'était un plaisir de partager cette expérience avec Nathalie et je lui souhaite le meilleur pour la suite de
          son parcours dans les soins Ayurvédiques.</p>
        <br>

        <p>J'ai apprécié l'accueil bienveillant et tranquille de Nathalie, je me suis tout de suite sentie à l'aise.
          Elle a pris le temps pour l'entretien initial.
          La pièce ou j'ai été reçue. est jolie, lumineuse et agréable ; la température de la pièce était agréable, même
          pour moi qui suis plutôt frileuse.
          Pour le massage, je me suis tout de suite sentie en confiance avec Nathalie, ce qui m'a permis de me détendre
          complètement. Sur le dos, je me suis même sentie m'endormir à plusieurs reprises (alors que c'était le matin
          et que je n'étais pas fatiguée).. et du coup, il m'est plus difficile de décrire mon ressenti pendant une
          grande partie du massage, vu que j'étais entre la veille et le sommeil :)
          J'ai particulièrement apprécié le massage de la nuque/tête/trapèzes, des mains.
          Concernant le massage du ventre, cela a été très agréable. Dès que j'ai compris que Nathalie allait vers le
          ventre, j'ai prévenu le bébé et lui ait dit que c'était aussi pour elle. J'ai senti que ça détendait aussi des
          douleurs que j'ai au niveau colique (cæcum et fin du colon descendant).</p>
        <br>
        <p>Vers la fin du massage, j'ai senti que la position allongée sur le dos devenait difficile au niveau du
          sacrum, je pense parce que ça faisait longtemps que j'étais sur le dos ce qui n'est pas habituel pour moi ;
          j'ai relevé les jambes ce qui a aidé à soulager. Nathalie m'avait proposé de mettre un coussin sous les genoux
          en début de séance mais à ce moment là j'avais refusé.
          J'ai beaucoup apprécié entendre le souffle calme de Nathalie. J'ai l'impression que ça a contribué à la
          détente et aussi à libérer des tensions.
          Nathalie a pris son temps pour le massage et l'accueil en général ; elle était très douce.</p>
        <br>
        <p>Dans les heures qui ont suivi le massage, je me suis sentie à la fois détendue et aussi avec une bonne
          énergie et un bon moral :)
          Et je me réjouis de continuer les massages avec Nathalie !"</p>

        <!-- Temoignage de Elsa -->
        <br>
        <p class="titre-tem font-weight-bold mt-3">Témoignage de Elsa : Abhyanga post-partum</p>
        <p class="text-blue-2 font-weight-bold citation">« Ce n'était pas évident d'accepter de prendre du temps pour moi
          (et donc du temps non consacré à bébé) dans ce post-partum et pourtant je pense que ça m'a fait du bien. »</p>
        <br>

        <p>"Ce n'était pas évident d'accepter de prendre du temps pour moi (et donc du temps non consacré à bébé) dans
          ce post-partum et pourtant je pense que ça m'a fait du bien.
          J'ai particulièrement apprécié les grands mouvements énergiques associés à la respiration, qui apportent comme
          une nouvelle énergie.</p>
        <br>

        <p>Ayant les seins particulièrement engorgés, le massage des seins était appréciable, d'autant qu'il est fait en
          douceur (alors que de mon côté, je dois comprimer les seins à chaque tétée /tirage).</p>
        <br>
        <p>J'ai aussi beaucoup aimé le massage du ventre, notamment le palper rouler. Alors que je massais mon ventre tous
          les jours pendant la grossesse, je ne l'ai quasiment pas touché depuis, et c'était agréable qu'il lui soit
          donné un peu d'attention et de douceur."</p>

      </div>
    </div>
  </div>
</div>

<!--
<div class="container">
<mdb-carousel [animation]="'slide'" [ngSwitch]="carouselDisplayMode" [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'">
  <ng-container *ngSwitchCase="'single'">
    <mdb-carousel-item *ngFor="let card of cards">
      <mdb-card class="my-1">
        <mdb-card-body>
          <mdb-card-title>
            <h4> {{ card.title }}</h4>
          </mdb-card-title>
          <p>{{ card.description }}</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
        </mdb-card-body>
      </mdb-card>
    </mdb-carousel-item>
  </ng-container>

  <ng-container *ngSwitchCase="'multiple'">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1">
          <mdb-card-body>
            <mdb-card-title>
              <h4>{{card.title}}</h4>
            </mdb-card-title>
            <p>{{card.description}}</p>
            <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </mdb-carousel-item>
  </ng-container>
</mdb-carousel>
</div>
-->
