<!--Double navigation-->
<header>

  <!-- Sidebar navigation -->
  <mdb-side-nav #sidenav [fixed]="false">

    <mdb-navbar-brand>
      <li>
        <div class="logo-wrapper waves-light">
          <a href="#">
            <img src="assets/logo-nath-white.png" class="img-fluid flex-center">
          </a>
        </div>
      </li>
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>

      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion  amber-text">
          <mdb-accordion [multiple]="false" aria-multiselectable="false">

            <!-- Simple link -->
            <mdb-accordion-item class="no-collase hideOnBigScreens" [routerLink]="['/massage']">
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon fas icon="info-circle"></mdb-icon>
                Massages
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase hideOnBigScreens" [routerLink]="['/soins']">
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon fas icon="info-circle"></mdb-icon>
                Soins maternité
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase hideOnBigScreens" [routerLink]="['/nutrition']">
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon far icon="grin-beam"></mdb-icon>
                Hygiène de vie et nutrition
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase hideOnBigScreens" [routerLink]="['/about-me']">
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon fas icon="user-alt"></mdb-icon>
                A propos de moi
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase hideOnBigScreens" [routerLink]="['/temoignage']">
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon far icon="grin-beam"></mdb-icon>
                Témoignages
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase hideOnBigScreens" [routerLink]="['/contact']">
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon far icon="envelope"></mdb-icon>
                Contact
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Collapsible link -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon far icon="hand-point-right"></mdb-icon>
                Liste des massages
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a pageScroll href="massage/#msg1" mdbWavesEffect>Atreya Abhyanga</a>
                  </li>
                  <li>
                    <a pageScroll href="massage/#msg2" mdbWavesEffect>Snehana Svedana</a>
                  </li>
                  <!-- <li>
                    <a pageScroll href="massage/#msg3" mdbWavesEffect>Ananda</a>
                  </li>
                  <li>
                    <a pageScroll href="massage/#msg4" mdbWavesEffect>Ananda Abhyanga</a>
                  </li> -->
                  <!-- <li>
                    <a pageScroll href="massage/#msg5" mdbWavesEffect>Udvartana Udgarshana</a>
                  </li> -->
                  <li>
                    <a pageScroll href="massage/#msg6" mdbWavesEffect>Massage étoile</a>
                  </li>
                  <li>
                    <a pageScroll href="massage/#msg7" mdbWavesEffect>Upanaha sweda</a>
                  </li>
                  <li>
                    <a pageScroll href="massage/#msg8" mdbWavesEffect>Massage Kobido</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Collapsible link -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon far icon="hand-point-right"></mdb-icon>
                Liste des soins maternité
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a pageScroll href="soins/#soin1" mdbWavesEffect>Abhyanga prénatal</a>
                  </li>
                  <li>
                    <a pageScroll href="soins/#soin2" mdbWavesEffect>Abhyanga post-partum</a>
                  </li>
                  <li>
                    <a pageScroll href="soins/#soin3" mdbWavesEffect>Soin du nourrisson</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>

            </mdb-accordion-item>

          </mdb-accordion>
        </ul>
      </li>

      <!--Social-->
      <li>
        <ul class="social">
          <li>
            <a href="https://www.facebook.com/Dharma-Soins-Ayurv%C3%A9diques-102742651098813/"
               target="_blank" class="icons-sm">
              <button type="button" mdbBtn color="fb" class="waves-light" mdbWavesEffect>Mon
                Facebook
              </button>
            </a>

          </li>
        </ul>
      </li>
      <!--/Social-->
    </links>
    <!--/. Side navigation links -->
    <div class="sidenav-bg blue-2"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
              [containerInside]="false">

    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div>
        <a (click)="sidenav.show()" class="button-collapse hidden-nav-button-collapse mx-0">
          <mdb-icon fas icon="bars"></mdb-icon>
        </a>
      </div>
      <!--/. SideNav slide-out button -->
    </navlinks>

    <mdb-navbar-brand>
      <!-- Breadcrumb-->
      <div class="logo-wrapper waves-light pad-side">
        <a [routerLink]="['']">
          <img src="assets/logo-nath-white.png" class="img-fluid flex-center img-nav">
        </a>
      </div>
      <!--/. Breadcrumb-->
    </mdb-navbar-brand>

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons mr-auto ie-double-nav ie-hidden-double-nav hideOnMobile">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/massage']">
            <span class="clearfix d-none d-sm-inline-block">Massages</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/soins']">
            <span class="clearfix d-none d-sm-inline-block">Soins maternité</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/nutrition']">
            <span class="clearfix d-none d-sm-inline-block">Hygiène de vie et nutrition</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/about-me']">
            <span class="clearfix d-none d-sm-inline-block">A propos de moi</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/temoignage']">
            <span class="clearfix d-none d-sm-inline-block">Témoignages</span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/contact']">
            <mdb-icon fas icon="envelope"></mdb-icon>
            <span class="clearfix d-none d-sm-inline-block">Contact</span>
          </a>
        </li>
        <!-- <li class="nav-item dropdown btn-group" dropdown>
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Dropdown
            </a>
            <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li> -->
      </ul>
    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->

</header>
<!--/.Double navigation-->
