<!-- Intro Section -->
<div class="view jarallax" id="top-section" data-jarallax='{"speed": 0.2}'
     style="background-image: url(https://cdn.pixabay.com/photo/2018/11/05/09/53/massage-3795691_960_720.jpg);background-repeat:no-repeat;">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown"
                data-wow-delay="0.3s" id="mainTitle">
              <strong>DHARMA
                SOINS AYURVEDIQUES
              </strong></h2>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Massages, conseils en
              nutrition et hygiène de vie</strong></h5>
            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
               mdbWavesEffect mdbPageScroll href="#goToAyurveda">Qu'est-ce que l'Ayurveda ?</a>
            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
               mdbWavesEffect mdbPageScroll [routerLink]="['/massage']">Retrouvez mes massages</a>
            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
               mdbWavesEffect mdbPageScroll [routerLink]="['/nutrition']">Hygiène de vie et nutrition</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Main Navigation-->

<!-- Jumbotron -->
<div class="jumbotron white lighten-5" id="goToAyurveda">
  <div class="text-center">
    <img src="https://svgsilh.com/svg/1477050.svg" class="img-fluid wow fadeInDown" alt="Design Image"
         style="width: 13vw">
  </div>

  <!-- Title -->

  <h2 class="text-center card-title h2 wow fadeInDown font-weight-bold">Qu'est-ce que l'Ayurveda ?</h2>

  <!-- Grid row -->
  <div class="row d-flex text-justify justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text wow fadeInLeft">
        L'Ayurveda qui signifie "connaissance de la vie", est une médecine traditionnelle indienne vieille de plus de 5
        000 ans. C'est un système de santé holistique reconnu par l'OMS (Organisme Mondial de la Santé) depuis 1982 dont
        le rôle est de conserver ou d'apporter l'harmonie du corps, de l'esprit, l'âme et de le mettre en accord
        avec les lois de la nature et de l'univers.
      </p>
      <p class="card-text wow fadeInLeft">
        Elle prend en compte l'humain dans sa globalité et l'envisage dans son environnement au sein de
        l'univers. Elle
        traite la cause plutôt que les symptômes.
        L’un des fondements de l’Ayurveda repose sur le principe des 5 états de la matière qui composent
        l'univers (le
        macrocosme) qui sont <strong>Akasha</strong> : l'Ether-l'espace subtil, <strong>Vayu</strong> : l'Air,
        <strong>Agni</strong> : le Feu, <strong>Jala</strong> : l'Eau et <strong>Prithivi</strong> :
        la Terre. Ces 5 éléments qui constituent également notre corps physique (le microcosme) se retrouvent dans trois
        forces
        vitales, trois bioénergies appelées doshas et qui sont <strong>Vata</strong> pour le vent et l'espace,
        <strong>Pitta</strong> pour le feu et
        l'eau et <strong>Kapha</strong> pour l'eau et la terre.

      </p>
      <p class="card-text wow fadeInLeft">
        Ces doshas sont responsables de tous les processus physiologiques et psychologiques du corps et de l'esprit. Ils
        sont présents dans des proportions plus ou moins importantes selon chaque individu, c'est ce qui fait de chaque
        personne un être unique. C'est de l'équilibre et de l'harmonie entre ces doshas que dépendent notre bien-être et
        notre santé.
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Jumbotron -->

<!-- Jumbotron -->
<div class="card card-image d-flex"
     style="background-image: url(assets/background-gloabal.jpg);">

  <div class="text-white py-5 px-4 mask rgba-black-strong">
    <div class="py-5">
      <!-- Grid row -->
      <div class="row d-flex text-justify justify-content-center">
        <div class="col-xl-7 pb-2">
          <!-- Content -->
          <h2 class="card-title h1 my-4 py-2 text-center wow fadeInDown">Ses bienfaits</h2>
          <p class="px-md-5 mx-md-5 wow fadeInLeft">
            L'Ayurveda nous aide à renforcer ou maintenir l'équilibre des doshas en adoptant des gestes et des soins
            variés
            dans l'alimentation, les massages, les plantes, le yoga, la méditation et les soins d'hygiène. La
            pratique du
            massage tient une grande place dans la médecine ayurvédique et est pratiquée dès la naissance. C'est un
            véritable
            outil thérapeutique qui participe à garder un état de santé en harmonie.
            <br>
            <br>
            Ainsi, l'Ayurveda est un mode de vie, un état d'esprit, une manière d'être à soi, aux autres et à
            l'univers.
          </p>
          <h2 class="card-title h1 my-4 py-2 pt-4 text-center wow fadeInDown">A qui s'adresse-t-elle ?</h2>
          <p class="mb-4 pb-2 px-md-5 mx-md-5 wow fadeInLeft">
            L'Ayurveda s'adresse à toute personne, sans limite d'âge, en recherche d'un bien-être physique et
            psychique, et
            en quête d'une meilleure hygiène de vie.

            Dans un but thérapeutique, il complète également les apports de la médecine traditionnelle sans s'y
            substituer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->
